.mainout{
    /*border: solid gray 2px;*/
    border-radius: 10px;
    margin: 20px;
    margin-left: 30px;
    max-width: 370px;
    max-height: 300px;
    height: auto;
    background-color: gray;
    /*display: inline-block;*/
    text-align: center;
    box-shadow: 0 2px 5px #000000;

}

.newtop{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    position: relative;
    height: 180px;
    width: 100%;
    /*background-image: url("../img/back2.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

.shopname{
    color: #000000;
    background-color:gray;
    position: absolute;
    opacity: 0.4;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border: solid gray 2px;
    display:block;
    bottom: 0px;
    text-align: center;

}


.newbott{
    border-top: solid gray 2px;

    display: block;
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.newbott1{
    color: #000000;
    border-bottom-left-radius:inherit;
    border-right:solid white 2px;
    padding: 10px;
    float: left;
    display: block;
    width: 65%;
    height: 100%;
    background-color: inherit;


}
.newbott2{
    border-bottom-right-radius: 10px;
    display: inline-block;
    background-color: orange;
    width: 35%;
    height: 100%;
}
.text1{
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 60%;
    text-align: left;
    height: 30%;
    width: 100%;
    max-width: 200px;
    padding-right: 4px;
}
.text1 img{
    width: 20px;
    height: 15px;
}

.text2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    font-size: 60%;
    text-align: left;
    height: 40%;
    width: 100%;
}

.text3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 60%;
    padding: 5px;
    text-align: left;
    height: 30%;
    width: 100%;
    max-width: 200px;

    border-bottom-left-radius: 10px;
}

.text4{
    font-size: 50%;
    font-weight: bold;
    padding-top: 10px;
    height: 40%;
    width: 100%;
}
.text5{
    border-bottom-right-radius: 10px;
    font-size: 60%;
    height: 60%;
    width: 100%;
}

.text5 button{
    color: #000000;
    outline: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-top: 10px;

}

.dropmain1{
    display:flex;
    width: 77.8%;
    position: relative;
}
.dropul{
    list-style: none;
    margin: 2px;
    margin-top: 1px;
    margin-left: 0;
    max-height: 300px;
    overflow-x:hidden;
    overflow-y:scroll;    
    width:100%;
    text-align: left;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.dropul li{
    font-weight: bold;
    /*display: none;*/

    cursor: pointer;
    border-radius: 3px;
    margin: 2px;
    z-index: 9999;
}

.liCity:hover{
    background-color: #C0C0C0;
}

.selected_li
{
    background-color: #C0C0C0;
}

.contwrap{
    display: flex;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    padding: 20px;

}

.contmain{
    float: left;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.continput{
    font-size: 12px;
    height: 50px;
    margin-bottom: 20px;
    width:100%;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    border: solid #F5F5F1 1px;
    background-color: #F5F5F1;
}
.continput:hover{
    border: solid #E7E7E6 1px;
}
.continput:focus{
    background-color: white;
}
.contbutton{

    /*border: solid #F5F5F1 1px;*/
    /*outline: none;*/
}
.contbutton input{
    width: 100px;
    height: 40px;
    color: #AEAEAD;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    border: solid #F5F5F1 1px;

}
.contbutton input:hover{
    border: solid #E7E7E6 1px;
}
.contheader{

    position: absolute;
    bottom: 10%;
    left: 6%;
    color: white;
    font-weight: bolder;
    font-size: 380%;
}

.contside{
    padding: 5px;
    margin-top: 3%;
    float: left;
    width: 30%;
    /*background-color: #ffff00;*/
    height: 300px;
}
.contside .d1{
    margin-right: 60px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;

}
.contside .d1:hover{
    background-color:#f0f0f0 ;
}
.contside .d2{
    margin-top: 0;
    padding-top: 15px;
    padding-right: 70px;
    font-size: 12px;
}


/*creationg new header*/

.new_header{
    z-index: 9;
    top: 0;
    /*margin-bottom: 6%;*/
    display: flex;
    width: 100%;
    /*max-height: 40px;*/
    min-height: 65px;

    background: gray;
    position: fixed;
    padding-left: 4%;
    padding-right: 4%;

}

.new_header .d1{
    font-size: 120%;
    padding-top: 1%;
    width: 20%;
    background: red;
    color: #000000;
}
.new_header .d1 a{
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
/*.new_header:before{*/
    /*padding-top: 2%;*/
    /*color: white;*/
    /*font-family: 'Simple-Line-Icons';*/
    /*speak: none;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*font-variant: normal;*/
    /*text-transform: none;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*content: "\e06a";*/
    /*font-size: 160%!important;*/
/*}*/
.new_header .d1 .p5{
    margin: 0;
    font-size: 170%;
    /*padding-left: 20%;*/
}
.new_header .d1 .p4{
    margin: 0;
    padding-left: 20%;
}

.new_header .d2{
    width: 50%;
    background: orange;
}

.new_header .d3{
    width: 30%;
    background: #ffff00;
}

.new_homeimage{
    width: 100%;
    /*border-top: solid #000000 10px;*/
    /*background: url("../img/topimage3.jpg") no-repeat center;*/
    /*background-size: contain;*/
    position: relative;
    color: #fff;
    text-align: center;
    /*your background image*/
    /*background-color:#E8E8E8 ;*/
    max-height: 400px;
    min-height: 400px;
    overflow: hidden;
    /*padding: 10%;*/
    margin-top: 65px;

}
.new_homeimage .d1{
    width: 50%;
    min-height: 30px;
    position: absolute;
    color:#000000;
    background: darkseagreen;
    top: 32%;
    left: 25%;
}
.new_homeimage .d2{
    width: 100%;
    height: 100%;
}


/*creationg new header*/