@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(http://fonts.gstatic.com/s/antic/v7/NHsS2_8AsBoNMVvtCA3aYA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/antic/v7/2GNslY5EMAZwbbytmM9wFw.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
